
# dependencies
/node_modules/
/frontend/node_modules/
/package.json
/package-lock.json

# production
/frontend/build

# misc
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

