 /* Author Sai Sandeep Mutyala */

@media screen and (max-width: 1000px) {
  .individualCard {
      width: 90% !important;
      height: 170px !important;
  }
  .singleCard {
    width: 90% !important;
    height: 170px !important;
  }
  .dashboard-heading {
      font-size:2rem !important;
      padding-top: 15% !important;
  }
  .cardContent {
    font-size: 50% !important;
    display: block !important;
  }
  .logo {
    height: 40px !important;
    width: 60px !important;
    align-items: center !important;
  }
  .dashboard-heading {
    font-size:1.2rem !important;
  }
  .dashboardHomeHeading {
    font-size: medium !important;
    padding-left: 25% !important;
  }
  .rows {
    margin-top: 25% !important;
  }
}


body{
  width: 100%;
}

.rows {
  margin-top: 5%;
}

.dashboardHomeHeading{
text-align: center;
padding: 250px 0;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
padding-left: 10%;
}

.heading {
  color: #635454;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  margin-top: 0px;
  padding-top: 2%;
}

.dashboard-heading {
  font-family: arial, sans-serif;
  font-size:1.6rem;
  text-align: center;
  padding-right: 6%;
  padding-top: 3%;
  font-style: italic;
}

.logo {
height: 60px;
width: 100px;
padding-bottom: 5%;
}

.cardContent {
font-size: 60%;
display: block;
font-weight:800;
}

.cardRow:after {
  content: "";
  display: table;
  clear: both;
}

.cardColumn {
  float: left;
  width: 50%;
}


.rows:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
  width: 25%;
  height: 100%;
}

.completeCard {
  padding-left: 6%;
  float: left;
  width: 70%;
  background-color: none !important;
  /* padding-bottom: 5%; */
}

.individualCard {
  width:45%;
  cursor: pointer;
  box-shadow: -3px 2px #24253f;
  border-radius: 9px;
  height:220px;
  background:white;
  margin:10px;
  margin-top: 30px;
}

.singleCard {
  width:45%;
  cursor: pointer;
  box-shadow: -3px 2px #24253f;
  border-radius: 9px;
  height:220px;
  background:white;
  margin:10px;
  margin-top: 30px;
}

.singleCard:hover{
  background-color: #e5e7e8;
}

.individualCard:hover{
  transform: scale(0.9);
}

.employercard {
  float:left ;
}

.deletebutton {
  padding-top: 4%;
  padding-right: 30%;
  margin-right: 3%;
}

.deletebutton:hover{
  transform: scale(0.9);
}

.resubmitbutton:hover{
  transform: scale(0.9);
}

.resubmitbutton {
  padding-top: 4%;
}

.buttonsection {
  text-align: center;
  padding-right: 8%;

}

.approvebutton {
  padding-top: 4%;
  padding-right: 30%;
  margin-right: 3%;
}

.approvebutton:hover{
  transform: scale(0.9);
}

.rejectbutton:hover{
  transform: scale(0.9);
}

.rejectbutton {
  padding-top: 4%;
}



.buttontab {
  text-align: center;
  padding-left: 2%;

}



